$color-008795:#008795;
$color-A7A9AC: #A7A9AC;
$color-168D91: #168D91;
$color-D9D9D9: #D9D9D9;
$color-7CC242:#7CC242;
$color-C2F83F:#C2F83F;
$color-4A4A4A:#4A4A4A;
$color-A9AAAE:#A9AAAE;
$color-707070:#707070;
$color-eee:#eee;
$color-000:#000;
$color-fff:#fff;